<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="Shortcut Icon" href="{{url_for('static', filename='img/icono music.ico')}}">
    <title>Download VA</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
      #conta_pri {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100vh;
      }
      form {
          margin-bottom: 20px;
      }
  </style>
  </head>
  <body>
    <div id="conta_pri">
    <div id="step1">
      <h2>Paso 1: Ingrese la URL de YouTube</h2>
      <form id="urlForm">
        <label for="url">URL:</label>
        <input type="text" id="url" name="url" autofocus required /><br /><br />

        <label for="type">Tipo:</label>
        <select id="type" name="type" style="cursor: pointer">
          <option value="audio">Audio</option>
          <option value="video">Video</option></select
        ><br /><br />

        <button type="button" onclick="siguientePaso()" style="cursor: pointer">
          Siguiente
        </button>
      </form>
    </div>

    <div id="step2" style="display: none">
      <h2>Paso 2: Seleccione el nombre del archivo</h2>
      <form id="fileNameForm" style="display: none">
        <label for="fileName">Nombre del archivo:</label>
        <input type="text" id="fileName" name="fileName" required /><br /><br />
        <button
          id="botonDescargar"
          type="button"
          onclick="descargarContenido()"
          style="cursor: pointer"
        >
          Descargar
        </button>
      </form>
    </div>
  </div>
    <script>
      function siguientePaso() {
        var url = document.getElementById("url").value.trim();
        if (url) {
          document.getElementById("step1").style.display = "none";
          document.getElementById("step2").style.display = "block";
          document.getElementById("fileNameForm").style.display = "block";
        } else {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Por favor, ingrese una URL válida.",
          });
        }
      }

      function descargarContenido() {
        var url = document.getElementById("url").value.trim();
        var fileName = document.getElementById("fileName").value.trim();
        var type = document.getElementById("type").value.trim();
        Swal.fire({
          icon: "info",
          title: "Iniciando descarga...",
          text: "La descarga se está iniciando.",
          showConfirmButton: false,
          timer: 3000,
        });

        // Deshabilitar el botón de descarga
        var botonDescargar = document.getElementById("botonDescargar");
        botonDescargar.disabled = true;

        var xhr = new XMLHttpRequest();
        var endpoint =
          type === "audio" ? "/descargar_audio" : "/descargar_video";
        xhr.open(
          "GET",
          `${endpoint}?url=${encodeURIComponent(
            url
          )}&fileName=${encodeURIComponent(fileName)}`
        );
        xhr.responseType = "blob";
        xhr.onload = function () {
          if (xhr.status === 200) {
            var a = document.createElement("a");
            a.href = window.URL.createObjectURL(xhr.response);
            a.download = fileName + (type === "audio" ? ".mp3" : ".mp4");
            document.body.appendChild(a);
            a.click();

            Swal.fire({
              icon: "success",
              title: "Descarga completada.",
              text: "Gracias por tu descarga y usar esta pagina",
            }).then((result) => {
              // Refrescar la página después de la descarga
              window.location.reload();
            });
          } else {
            Swal.fire({
              icon: "error",
              title: "Oops...",
              text: "Hubo un problema al descargar el archivo.",
            });
          }
          // Habilitar el botón de descarga después de que se completa la descarga
          botonDescargar.disabled = false;
        };
        xhr.send();
      }
    </script>
  </body>
</html>
